<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.1.5.1964" newVersion="2.1.5.1964" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
	<appSettings>
		<!--視窗名稱-->	
		<add key="Title" value="測試1" />
		<!--店代號-->
		<add key="StoreID" value="2" />
		<add key="API_url" value="http://telephone-1-test.singularinfinity.work:24450/phone" />
		<!--資料庫名稱-->
		<add key="DataSource" value="gosaicoCallerID.db" />
		<!--設定檢查網路時間 單位:秒-->
		<add key="CheckNet" value="1" />
		<!--Debug模式 T:開啟 F:關閉-->
		<add key="Debug" value="F"/>
	</appSettings>
</configuration>