<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
            <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-2.1.5.1964" newVersion="2.1.5.1964" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
	<appSettings>
		<!--視窗名稱-->	
		<add key="Title" value="測試1" />
		<!--店代號-->
		<add key="StoreID" value="2" />
		<add key="API_url" value="http://172.16.2.9:1111/" />
		<!--區碼-->
		<add key="AreaCode" value="05" />
		<!--資料庫名稱-->
		<add key="DataSource" value="gosaicoCallerID.db" />
		<!--設定檢查網路時間 單位:秒-->
		<add key="CheckNet" value="1" />
		<!--設定檢查伺服器時間 單位:秒-->
		<add key="CheckServer" value="1" />
		<add key="ServerIP" value="172.0.0.1" />
		<add key="Port" value="0" />
		<!--設備Port-->
		<add key="DeviceType" value="8"/>
	</appSettings>
</configuration>